<div>
  <div>
    Inspired by demos [<a href="https://github.com/btroncone/learn-rxjs/blob/master/operators/complete.md">HERE</a>]
  </div>
  <br/>

  <h4 class="text-primary">Debounce Example</h4>
  <div class="form-group row">
    <label for="db" class="col-2" col-form-label>Debounce Example:</label>
    <div class="col-10">
      <input class="form-control form-control-sm" id="db" name="first" 
          (keyup)="$dbounce.next($event.target.value)">
    </div>
  </div>
  <div class="row">
    <label class="col-2">Debounced Text:</label>
    <label class="col-10">{{debounce_text}}</label>
  </div>



</div>
