<div>
  <h3>Current List of Demos</h3>
  <ol>
    <li>
      <a routerLink="properties">Properties - Demo Component/Parent Child State Management</a>
    </li>
    <li>
        <a routerLink="properties/ugly">Properties - UGLY VERSION - Demo Component/Parent Child State Management</a>
      </li>
    <li>
      <a routerLink="redux">Redux - Demo State Management using Redux Framework (NgRx)</a>
    </li>
    <li>
      <a routerLink="services">Services - Demo using Dependency Injection and Angular Services</a>
    </li>
    <li>
      <a routerLink="obs/http">Observables - HTTP</a>
    </li>
  </ol>
<div>