<!-- OLD CODE, EASY TO FOLLOW BUT NOT STYLED -->
<!-- <div>
<div *ngIf="post | async as p">
  <h2>{{ p.text }}</h2>
  <h4>Votes: {{ p.likes }}</h4>
  <button (click)="upvote()">Upvote</button>
  <button (click)="downvote()">Downvote</button>
  <button (click)="resetPost()">Reset</button>
  <input [(ngModel)]="text">
  <button (click)="editText()" >Change Title</button>

  <div>
    <h4>HISTORY FROM ASYNC PIPE</h4>
    <p>{{p.history}}</p>
  </div>
</div>
<div>
  <h4>HISTORY FROM PROPERTY</h4>
  <p>{{postHistoryProperty}}</p>
</div>
</div>
 -->

<div>
  <div *ngIf="post | async as p">
  <h4 class="text-primary">Demonstration of Redux State Management</h4>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button (click)="upvote()" type="button" class="btn btn-primary">Upvote</button>
        <button (click)="downvote()" type="button" class="btn btn-danger">DownVote</button>
        <button (click)="resetPost()" type="button" class="btn btn-warning">Reset</button>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">New Title</div>
        </div>
        <input [(ngModel)]="text" type="text" class="form-control" placeholder="title..." aria-label="Input group example" aria-describedby="btnGroupAddon">
        <button (click)="editText()" type="button" class="btn btn-secondary">Change</button>
      </div>
  </div>

  <dl class="row">
    <dt class="col-sm-2">Title</dt>
    <dd class="col-sm-10">{{ p.text }}</dd>
    <dt class="col-sm-2">Votes</dt>
    <dd class="col-sm-10">{{p.likes}}</dd>
    <dt class="col-sm-2">From Async Pipe</dt>
    <dd class="col-sm-10" style="word-wrap:break-word;">
      {{p.history}}
    </dd>
    <dt class="col-sm-2">From Property</dt>
    <dd class="col-sm-10" style="word-wrap:break-word;">
      {{postHistoryProperty}}
    </dd>
  </dl>
  </div>
</div>
